:root {
  --primary-color: #2d2d2d;
  --secondary-color: #f5f5f5;
  --text-color: #222;
  --border-color: rgba(0, 0, 0, 0.1);
  --success-color: #28a745;
  --danger-color: #dc3545;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--secondary-color);
  margin: 0;
  height: 100vh;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
  margin: 0;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
}

.chat-container {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  margin: 0 20px;
}

.chat-box {
  height: 400px;
  padding: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.input-box input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.input-box button[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.input-box button[type="submit"]:hover {
  background-color: #444;
}

footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  font-size: 16px;
  max-width: 70%;
  word-wrap: break-word;
}

.user {
  background-color: var(--primary-color);
  color: #fff;
  align-self: flex-start;
}

.ai {
  background-color: #f9f9f9;
  color: var(--text-color);
  align-self: flex-end;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.loading-text {
  margin-left: 10px;
  font-size: 16px;
  color: var(--text-color);
  animation: blink 1s infinite;
}

.spinner {
  border: 3px solid var(--border-color);
  border-right-color: var(--secondary-color);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
